.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* #region VARIABLES */

/* #region CSS VARIABLES */
:root {
  /* #region COLORS */
  --primary-color: #15396c;
  --secondary-color: #057aad;

  --white-color: #ffffff;
  --black-color: #000000;

  --light-color: #f9f9f9;
  --lighter-color: #f7f8fc;

  --lgrey-color: #b8b8b8;
  --dgrey-color: #525657;

  --dark-color: #111c33;

  /* #endregion COLORS */

  /* #region TYPOGRAPHY */
  --main-family: "Open Sans", sans-serif;
  --sub-family: "Lato", sans-serif;

  --light-font: 300;
  --normal-font: 400;
  --medium-font: 500;
  --bold-font: 600;
  --bolder-font: 700;
  --black-font: 800;

  --xxxsmall-size: 16px;
  --xxsmall-size: 18px;
  --xsmall-size: 20px;
  --smaller-size: 25px;
  --small-size: 27px;
  --medium-size: 35px;
  --mlarge-size: 45px;
  --large-size: 50px;
  --larger-size: 55px;
  --largest-size: 60px;
  --max-size: 70px;

  /* #endregion TYPOGRAPHY */

  /* #region RADIUS */
  --square-radius: 0;
  --round-radius: 10px;
  --rounder-radius: 25px;

  /* #endregion RADIUS */

  /* #region TRANSITION */
  --main-transition: all 200ms ease 0s;

  /* #endregion TRANSITION */
}
/* #endregion CSS VARIABLES */

/* #region BACKGROUND COLORS */
.primary-color {
  color: var(--primary-color) !important;
}

.primary-color-hover:hover {
  color: var(--primary-color) !important;
}

.primary-bg {
  background-color: var(--primary-color) !important;
}

.primary-bg-hover:hover {
  background-color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.secondary-color-hover:hover {
  color: var(--secondary-color) !important;
}

.secondary-bg {
  background-color: var(--secondary-color) !important;
}

.secondary-bg-hover:hover {
  background-color: var(--secondary-color) !important ;
}

.light-color {
  color: var(--light-color) !important;
}

.light-color-hover:hover {
  color: var(--light-color) !important;
}

.light-bg {
  background-color: var(--light-color) !important;
}

.light-bg-hover:hover {
  background-color: var(--light-color) !important ;
}

.dgrey-bg {
  background-color: var(--dgrey-color) !important;
}

.dgrey-bg-hover:hover {
  background-color: var(--dgrey-color) !important ;
}

.lgrey-bg {
  background-color: var(--lgrey-color) !important;
}

.lgrey-bg-hover:hover {
  background-color: var(--lgrey-color) !important ;
}

/* #endregion BACKGROUND COLORS */

/* #endregion VARIABLES */

/* //////////////////// */

/* #region GLOBAL */

/* #region RESET */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion RESET */

/* #region THEME COLOR */

/* #endregion THEME COLOR */

/* #region BASIC ELEMENTS */

/* #endregion BASIC ELEMENTS */

/* #region CONTAINERS */

/* #endregion CONTAINERS */

/* #region LAYOUT */
.flex-container {
  display: flex;
}

.flex-container.center,
.flex-container.between,
.flex-container.around,
.flex-container.evenly {
  align-items: center;
}

.flex-container.center {
  justify-content: center;
}

.flex-container.between {
  justify-content: space-between;
}

.flex-container.around {
  justify-content: space-around;
}

.flex-container.evenly {
  justify-content: space-evenly;
}

.flex-container.baseline {
  align-items: baseline;
}

/* #endregion LAYOUT */

/* #region HEIGHT/WIDTH */
.w-100 {
  width: 100%;
}
.w-95 {
  width: 95%;
}
.w-80 {
  width: 80%;
}
.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.w-50 {
  width: 50% !important;
}
.w-40 {
  width: 40% !important;
}

.h-50 {
  height: 50%;
}

/* #endregion HEIGHT/WIDTH */

/* #region VISUALIZERS */
.v-red {
  border: 2px solid red;
}

.v-green {
  border: 2px solid green;
}

.v-blue {
  border: 2px solid blue;
}
.v-primary {
  border: 1px solid var(--primary-color);
}
/* #endregion VISUALIZERS */

/* #region IMAGE */

/* #region LOGO */
.img-container {
  text-align: center;
}

.img-container img {
  width: 100%;
}

/* #endregion LOGO */

/* #endregion IMAGE */
/* #region SNACKBAR */
.snackbar-success {
  background-color: green;
  color: white;
}
.snackbar-warning {
  background-color: orange;
  color: white;
}
.snackbar-danger {
  background-color: red;
  color: white;
}
/* #endregion SNACKBAR */

/* #region OVERLAY */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  cursor: pointer;
}

.cssload-loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 55%;
  width: 29px;
  height: 29px;
  border: 4px solid #15396c;
  animation: cssload-loader 2.3s infinite ease;
  -o-animation: cssload-loader 2.3s infinite ease;
  -ms-animation: cssload-loader 2.3s infinite ease;
  -webkit-animation: cssload-loader 2.3s infinite ease;
  -moz-animation: cssload-loader 2.3s infinite ease;
}

.loginLoader .cssload-loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cssload-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #15396c;
  animation: cssload-loader-inner 2.3s infinite ease-in;
  -o-animation: cssload-loader-inner 2.3s infinite ease-in;
  -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
  -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
  -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}

@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-o-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-ms-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-webkit-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-moz-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* #endregion OVERLAY*/
/* #region BUTTON */
.base-btn {
  width: 100%;
  color: var(--white-color);
  background: var(--primary-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  transition: var(--main-transition);
}
.base-btn.danger {
  background: red;
}
.base-btn.small {
  width: 30px;
}
button.base-btn {
  font-size: 18px;
  border: none;
  border-radius: 0;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}
.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #00af54;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #00af54;
}

.mat-icon-button.mat-success {
  color: #00af54;
}
/* #endregoin BUTTON */

/* #region TYPOGRAPHY */

/* #region FONT WEIGHT */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

/* #endregion FONT WEIGHT */

/* #endregion TYPOGRAPHY */

/* #region PADDING */
.padding-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pl-0 {
  padding-left: 0;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-0 {
  padding-right: 0;
}

/* #endregion PADDING */

/* #region MARGIN */

/* #region margin top/bottom */
.mh-auto {
  margin: 0 auto;
}
.mv-auto {
  margin: auto 0;
}
.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* #endregion margin top/bottom */

/* #region margin left/right */
.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-10 {
  margin-right: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

/* #endregion margin left/right */

/* #endregion MARGIN */

/* #region MEDIA QUERIES::GLOBAL */

/* LARGE SCREENS */
@media (min-width: 1200px) {
}

/* IPAD PRO */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
}

/* IPHONE 5/5S/SE */
@media only screen and (min-width: 320px) and (max-width: 568px) {
}

/* IPHONE 6/X */
@media only screen and (min-width: 375px) and (max-width: 812px) {
}

/* REGULAR IPAD */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* OTHER IPADS */
@media only screen and (min-width: 1024px) {
}

/* IPHONE 6 PLUS/X PLUS */
@media only screen and (min-width: 414px) and (max-width: 736px) {
}

/* #endregion MEDIA QUERIES::GLOBAL */

/* #endregion GLOBAL */

/* //////////////////// */

/* #region MAIN */

/* #region LOGIN COMPONENT */
.login-container {
  height: 500px;
  width: 350px;
  background: var(--white-color);
  padding: 30px;
  margin: -300px 20px 0 20px;
}

.login-input {
  width: 100%;
  font-size: 18px;
}

/* #endregion LOGIN COMPONENT */

/* #region COLUMN STYLING */

/* #region COLUMN ITEMS */
.w-100.col-item:nth-of-type(1) {
  width: 80%;
}

.col-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  height: 70px;
  padding: 0 15px;
}

.col-item:nth-of-type(2) {
  padding-right: 45px;
}

.col-item h3 {
  margin-bottom: 20px;
}

/* #endregion COLUMN ITEMS */

/* #endregion COLUMN STYLING */

/* #region CUSTOM FORM STYLES */

/* INPUT */
.mat-input-element {
  font-size: 16px;
  padding-bottom: 5px;
}

/* #endregion */

/* #region CUSTOM TABLE */

/* #region JOB SELECTION */
.job-select-component {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.job-select-items span.title {
  font-size: 26px;
  font-weight: 500;
  color: var(--primary-color);
  margin-right: 15px;
}

.job-select-items span {
  font-size: 18px;
}

.job-select-items .mat-form-field-appearance-fill .mat-form-field-infix {
  padding-bottom: 15px;
}

/* #endregion JOB SELECTION */
/* #region LOTO FORM */
.lotoField {
  width: 30%;
  margin: 5px;
}
.lotoField.textarea {
  width: 80%;
  margin: 5px;
}
.signatureField {
  text-align: right;
  width: 100%;
  margin-right: 20px;
}
/* #endregion LOTO FORM */
/* #region PROJECT TITLE */
.application-title {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.application-title a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
}
/* #endregion PROJECT TITLE */

/* #region ADMIN ELEMENTS */
.admin-title {
  padding-top: 900px;
  font-size: 24px;
  font-weight: 450;
  color: var(--primary-color);
  margin-right: 15px;
}
.admin-backlink {
  font-size: 15px;
}
.admin-backlink a {
  text-decoration: none;
  color: var(--primary-color);
}
.admin-backlink a :hover {
  text-decoration: none;
  cursor: pointer;
}
.admin-sub-title {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 450;
  color: var(--primary-color);
  margin-right: 15px;
}
.lockNumber {
  font-weight: 450;
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

/* #endregion ADMIN ELEMENTS */

/* #region TAB ELEMENTS */
.mat-tab-body-content {
  overflow: hidden !important;
  width: 95%;
  margin: 0 auto;
}

.search-field-container:first-of-type {
  width: 10%;
}

.search-field-container {
  width: 30%;
}

.search-field-container:last-of-type {
  width: 20%;
}

.search-field-container mat-form-field {
  font-size: 16px;
}

.table-container .mat-header-cell {
  font-size: 16px;
  color: var(--primary-color);
}
.accordian-header {
  font-size: 16px;
  color: var(--primary-color);
}
.accordian-header .sub {
  font-size: 10px;
  color: var(--primary-color);
}
/* #endregion TAB ELEMENTS */

/* #endregion CUSTOM TABLE */

/* #region RADIO BUTTON ELEMENTS */
.radio-button-container {
  margin-top: 15px;
}

mat-radio-button span {
  font-size: 16px;
  padding-left: 15px;
}

/* #endregion RADION BUTOTN ELEMENTS */

/* #region MEDIA QUERIES::MAIN */

/* LARGE SCREENS */
@media (min-width: 1200px) {
}

/* IPAD PRO */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
}

/* IPHONE 5/5S/SE */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  /* #region LOGIN COMPONENT */
  .login-container {
    margin: 0 20px;
  }
  /* #endregion LOGIN COMPONENT */
}

/* IPHONE 6/X */
@media only screen and (min-width: 375px) and (max-width: 812px) {
}

/* REGULAR IPAD */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* OTHER IPADS */
@media only screen and (min-width: 1024px) {
}

/* IPHONE 6 PLUS/X PLUS */
@media only screen and (min-width: 414px) and (max-width: 736px) {
}

/* #endregion MEDIA QUERIES::MAIN */

/* #endregion MAIN */

/* //////////////////// */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
